.text {
  color: black;
}


.calendar .day {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

/* .grid {
  position: absolute;
  height: 100vh;
  width:100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.grid-view div {
  border: 1px dotted black;
  z-index: 999;
}

.grid-view {
  grid-column: 1/span all;
  grid-row: 1/span all;
} */